caption {
    display: table-caption;
    text-align: left;
    padding-left: 10px;
  }


  
body {
    background-color: rgb(142, 200, 94);
    
}
.btn{
  font-size: 10px;
  background-color:gray; 
  width: 100px;
  float: right;
}
button {
    position: absolute;
    top:50%;
    background-color:#0a0a23;
    color: #fff;
    border:none;
    border-radius:25px;
  }
.btn:hover{
  background-color: rgb(22, 188, 25);
}

.log{
/*	border: 5px outset black;*/
  background-color:red ;
  text-align: center;
  width:500px;
  height: 400px;
  padding-top: 100px;

/*   position: relative;*/
}
th{
    margin-top: 45px;
    padding-top: 30px;
    padding-bottom: 10px;
    
    font-size: 45px;
    text-align: center;
}

td{
	padding-top: 5px;
}
b1{
  float: right;
  margin-top: 50px;
  height: fit-content;
  width: auto;
}


.txtbox{
    border-radius: 50px;
    width: 100%;
    padding-left: 10px;
    
}
.homeicon{
 text-align: right;
}